<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>大人の苦手対策教室</title>
</head>

<body>
    <div class="header">
        <div class="page_name">

            <a href="{{url_for('top')}}">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="大人の苦手対策教室ロゴ" class="site-logo">
            </a>

        </div>
        <!-- ハンバーガーメニューなし -->

    </div>
    <main class="container w_inner">
        <div class="question_page">
            <div class="explanation">
                <div class="progress-container">
                    <div class="progress-bar"style="width: {{ progress }}%;"></div>
                </div>
                <p>問 {{ current_index + 1 }}</p>
                <p>{{ question.question }}</p>
            </div>

            <form method="POST">
                <div class="answer-options">
                    {% for option in question.options %}
                    <input type="radio" id="option{{ loop.index0 }}" name="answer" value="{{ loop.index }}" required>
                    <label for="option{{ loop.index0 }}">{{ option }}</label><br>
                    {% endfor %}
                </div>

                <button type="submit">
                    {% if current_index + 1 == total_questions %}
                    結果を見る
                    {% else %}
                    次へ
                    {% endif %}
                </button>
            </form>
        </div>
    </main>
    <div class="footer">
        <div class="page_link">
            <a href="{{url_for('top')}}">TOPに戻る</a>
            <a href="{{url_for('purpose')}}">本サイトについて</a>
        </div>
        <div class="copy">
            &copy;2025 大人の苦手対策教室 by とみやま
        </div>
    </div>

</body>

</html>