<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>{% block title%}タイトル{% endblock %}</title>
</head>
<body>
    <div class="header">
        <div class="page_name">
            {% block header %}
            <a href="{{url_for('top')}}">大人の苦手対策教室</a>
            {% endblock %}
        </div>
        <div class="header_contents">
            <ul>
                <li><a href="{{url_for('quiz_a.quiz')}}">苦手診断</a>
                    <ul class="sub-menu">
                        <li><a href="{{url_for('quiz_a.quiz')}}">仕事・作業編</a></li>
                        <li><a href="{{url_for('quiz_b.quiz')}}">コミュニケーション編</a></li>
                    </ul>
                </li>
                <li><a href="{{url_for('nigate_a2')}}">物忘れ</a>
                    <ul class="sub-menu">
                        <li><a href="{{url_for('nigate_z1')}}">Top画面</a></li>
                    </ul>   
                </li>
                <li><a href="{{url_for('nigate_a3')}}">遅刻</a></li>
                <li><a href="{{url_for('nigate_a1')}}">人間関係（準備中）</a></li>
                <li><a href="{{url_for('nigate_a1')}}">メンタル（準備中）</a></li>
                <li><a href="{{url_for('purpose')}}">サイトの説明</a></li>
            </ul>   
        </div> 
    </div>
    <div class="container w_inner">
        {% block content %}
            内容
        {% endblock %}
    </div>
    <div class="footer">
        <div class="page_link w_inner">
        {% block footer %}
        他のページへのURLを表示
        {% endblock %}
        </div>
        <div class="pp_link w_inner">
            <a href="">個人情報保護方針</a>
        </div>
        <div class="copy">
            &copy;2024 KITAMURA TOMOKI
        </div>
        </div>
    </div>
</body>    
</html>