{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    {% block title%}ポケットモンスタースカーレット最高{% endblock %}
</head>
<body>
    {% block header %}（動的）ポケモン一覧表{% endblock %}
    {% block content %}
    <table border="1">
        <thead>
            <tr><th>商品ID</th><th>商品名</th></tr>
        </thead>
        <tbody>
           {% for item in items %}
           <tr>
                <td><a href="{{ url_for('nigate_a1', id=item.id)}}">{{item.id}}</a></td>
                <td>{{item.name}}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>

{% block footer %}
    <a href="{{url_for('top')}}">Top画面</a>{% endblock %}
