<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/test.css">
</head>
<body>
    <div class="quiz w_inner">
        <div class="ttl">
            <h1>苦手・悩み対策診断テスト</h1>
        </div>
        <div class="quiz_form">
            <button onclick="showMessage()">回答の仕方</button>
            <p id="message"></p>
            <form id="quizForm">
            <div id="questions" class="q"></div>
            <button type="button" onclick="calculateResults()">結果を見る</button>
            </form>
            <div id="results" class="resultText"></div>
            <p id="resultMessage" class="result_m"></p>
        </div>
    </div>
    <div class="footer">
        <a href="/top">Top画面</a>
        <script src="/static/js/index.js"></script>
        <div class="copy">
            &copy;2024 XXX
        </div>
    </div>
</body>
</html>
