{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    {% block title%}ポケットモンスタースカーレット最高{% endblock %}
</head>
<body>
    {% block header %}ポケモン一覧表{% endblock %}
    {% block content %}
    <table border="1">
        <thead>
            <tr><th>商品ID</th><th>商品名</th></tr>
        </thead>
        <tbody>
            <tr><td><a href="{{url_for('nigate_a1', id=1)}}">1</a></td><td>メタモン</td></tr>
            <tr><td><a href="{{url_for('nigate_a1', id=2)}}">2</a></td><td>ジュカイン</td></tr>
            <tr><td><a href="{{url_for('nigate_a1', id=3)}}">3</a></td><td>ナットレイ</td></tr>
        </tbody>
    </table>
    {% endblock %}
</body>

{% block footer %}
    <a href="{{url_for('top')}}">Top画面</a>{% endblock %}
