{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    {% block title%}苦手対策一覧 大人の苦手対策教室{% endblock %}
</head>
<body>
    {% block header %}
        <a href="{{url_for('top')}}">大人の苦手対策教室</a>
    {% endblock %}
    {% block content %}


    <nav aria-label="breadcrumb" class="breadcrumb">
        <ol>
            <li><a href="{{ url_for('top') }}">ホーム</a></li>
            <li><a href="{{ url_for('nigate_list') }}">苦手対策一覧</a></li>
        </ol>
    </nav>

    <div class="nigate_page_list">
        <h2>苦手対策一覧</h2>
        <ul>
            <li><a href="{{url_for('nigate_a2')}}">置き忘れ</a></li>
            <li><a href="{{url_for('nigate_a5')}}">やるべきことを忘れる</a></li>
            <li><a href="{{url_for('nigate_a3')}}">遅刻</a></li>
            <li><a href="{{url_for('nigate_a4')}}">雑談</a></li>
            <li><a href="{{url_for('nigate_a6')}}">単純作業を素早くこなす</a></li>
            <li><a href="{{url_for('nigate_a7')}}">不安と緊張</a></li>
            <li><a href="{{url_for('nigate_relax')}}">リラックス法</a></li>
        </ul>      
    </div>
    <br>
    {% endblock %}
</body>

{% block footer %}
    <a href="{{url_for('top')}}">Topに戻る</a>
    <a href="{{url_for('purpose')}}">このサイトについて</a>
{% endblock %}