{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    {% block title%}大人の苦手対策教室{% endblock %}
</head>
<body>
    {% block header %}
    <h1>大人の苦手対策教室 ― 物忘れ ― </h1>
    {% endblock %}
    {% block content %}
    <article>
        <h2>大人の苦手対策教室：“置き忘れ”</h2>
        <dev class="article_type">
            <dev class="category" href="{{url_for('nigate_a2')}}">ひとり編</dev>
            <time class="datetime_check" datetime="2024-09-24" aria-label="更新日">2024年9月24日</time>
        </dev>
        <p></p>
        <p></p>

        <p>忘れちゃいけないと思っているのにうっかり忘れ物をしてしまうことは多くの人にあると思います。
        特に電車やバス、車の中にスマホやイヤホンを置き忘れることや傘を傘立てに忘れることは身に覚えのある方もおられるのではないでしょうか。
        今回は忘れ物対策の中でも「置き忘れ」に関する対策について検討してみましたので、よかったら参考にしてください。</p>
            
        <h3>忘れ物によって困ることや起きること</h3>
        <p>物を置き忘れやすい人にとって起こりやすいこととして、</p>
        <ul>
            <li>・スマホや鍵、財布等の貴重品の紛失</li>
            <li>・重要書類の流出</li>
            <li>・傘を何度も買う</li>
            <li>・忘れ物を探している間に次の予定に遅刻する</li>
        </ul>
        <p>等が起きることがあります。どれもヒヤヒヤとする体験であり、当事者にとっては非常に大きな失敗体験となると思います。物の置き忘れを避けることは大切なことだと思います。</p>
            
        <h3>物の置き忘れをしやすい人</h3>
        <p>物の置き忘れが多い人には以下のような原因が考えられます。</p>
        <ul>
            <li>・不注意が多く、物を置いた場所や物を置くときにそちらに注意を向けることができていない。</li>
            <li>・焦っていることが多い。</li>
            <li>・周囲の音や人の行動が気になる。</li>
        </ul>
        <p>特に不注意傾向の高い方に起こりやすいことだといえます。不注意傾向の高い方は様々な事柄に注意を向けることができる一方で、
        注意が他に向きやすいため、置き忘れや忘れ物が多い傾向があります。</p> 
        <div class="blog_img">
            <img src="{{url_for('static', filename='img/kasatate.jpg')}}" alt="自然の風景">
        </div>
        <h3>”置き忘れ”への対策</h3>
            
        <h4>やるべきことを減らす</h4>
        <p>やるべきことを減らすことによって忘れ物を減らすことができます。
        例えば、傘は手から離さずに持っておくことで取っ手にかけた傘を手に取る動作を減らす、荷物を1カ所にまとめておくことであちこちから手に取る動作を減らすといった具合です。
        やらなければならない工程を少なくすることで、思い出す余裕が出てきます。</p>
        <h4>置くことをやめる</h4>
        <p>傘はどこかにどこかにかけたり、置いたりしたときにそのまま置き忘れてしまうということが多いと思います。
        そもそも置かなければ、忘れることもありません。可能な限り置かないようにすることも一つの有効な方法です。
        そのため、商業施設の傘立てには置かず、入口に傘用の袋がある場合にはそれに入れて、
        持って入ることで出るときに忘れずに済むはずです。また傘に関しては折り畳み傘にするというのも一つの手です。
        折り畳み傘にすることでどこかに置くことがなくなります。折り畳み傘にして、傘をカバンにしまうようにすることで、
        傘を置くことをやめることができます。</p>
        <h4>時間に余裕を持つ</h4>
        <p>焦っているときには、行き先に間に合うかどうか等、自分の手荷物以外のことに向いているため、置き忘れしやすくなります。
        時間に余裕をもつと心に余裕ができるので、忘れ物を減らすことができます。置き忘れ以外でも忘れ物が多い人は時間ギリギリで行動しがちです。
        特にいつもと違う時間、違う場所に行くときには「早すぎかな？」と思うくらいの気持ちで自宅を出るようにしましょう。</p>
            
        <h3>まとめ</h3>
        <p>ここでは忘れ物の中でも外出時の“置き忘れ”の対策についてご紹介しました。
        忘れ物は私たちの生活や仕事に大きな影響を及ぼす可能性がありますが、適切な対策を立てることで、その影響を減らすことができます。それぞれの対策が必ず有効であるわけではありませんが、複数の対策を組み合わせることで有効になることもあると思います。
        上記に記載した対策は可能な対策の一部だと思います。自分に合った対策や工夫が見つけるための一つの参考になれば幸いです。</p>
        
        <ul>
            <li>「7つの習慣」 - スティーブン・R・コヴィー</li>
            <li>「嫌われる勇気」 - 岸見一郎</li>
            <li>「アウトプット大全」 - 樺沢紫苑</li>
        </ul>
    </article>
    {% endblock %}
</body>

{% block footer %}
    <a href="{{url_for('top')}}">Top画面</a>
    <a href="{{url_for('index')}}">苦手診断</a>
    <a href="{{url_for('list')}}">listページ</a>
{% endblock %}