{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    {% block title%}大人の苦手対策教室{% endblock %}
</head>
<body>
    {% block header %}
    <h1>大人の苦手対策教室 ― 遅刻 ― </h1>
    {% endblock %}
    {% block content %}
    <article>
        <div class="blog_img">
            <img src="{{url_for('static', filename='img/clock.jpg')}}" alt="自然の風景">
        </div>
        <h2>大人の苦手対策教室：“遅刻”</h2>
        <dev class="article_type">
            <dev class="category" href="{{url_for('nigate_a2')}}">ひとり編</dev>
            <time class="datetime_check" datetime="2025-01-16" aria-label="更新日">2025年1月16日</time>
        </dev>
        <p>仕事や習い事、病院等、人間は日々時間に追われ生活しています。そんな中、多くの方が遅刻の経験があると思います。遅刻すると、思っていたことができなかったり、周囲の人に迷惑をかけてしまったりして、気分も下がりますよね。
            今回はこの「遅刻」について対策を考えていきましょう！</p>
        <p></p>

        <p></p>
            
        <h3>遅刻をしやすい人の共通点</h3>
        <p>遅刻の多い人には以下のような共通点が考えられます。</p>
        <ul>
            <li>・時間の感覚の鈍感さがあり、自分が想像するよりも作業や活動に時間がかかってしまう。</li>
            <li>・注意が他のことに向きやすいため、出発が遅れてしまう。</li>
            <li>・目的地に早く着いてしまうことが嫌、もしくは家に可能な限り長く居たい。</li>
        </ul>
        <p>意識で改善できる場合もありますが、個人の性格や特性が影響していることも多く、気持ちだけではなかなか解決できないものです。</p>
            
        <h3>仕事だけ遅刻しやすい人</h3>
        <p>他のことは遅刻しないのに、仕事だけ遅刻するというときには心の問題が関係していることがあります。
        仕事に対して憂うつな気持ちがあって、行動しにくい状態に陥っているのかもしれません。
        仕事の中で楽しいことやポジティブに思えることを見つけることが大切です。難しい場合には同僚なと仕事のことについて話してみましょう。</p>
        
        <h3>”遅刻”への対策</h3>    
        <h4>出発時間と準備時間をあらかじめ決めておく</h4>
        <p>出発時間と準備開始の時間をあらかじめ決めておきましょう。朝から家を出る場合には前日から決めておく必要があります。
            ①目的地までの時間を計算して、出発時間を決める、②出発時間の10分前を準備完了時間とする、③準備までにかかる時間を逆算し、準備開始時間を決める
            例えば、約束の時間が10時だった場合、その場所まで30分以内で到着できるのであれば9時30分が出発時間となります。
            9時20分が準備完了時間なので、この時間までにいつでも出られる状態にしておきましょう。
            準備に30分はかかる、ということであれば、8時30分～8時40分あたりが準備開始の時間になるでしょう。</p>
        <h4>タイマーを活用する</h4>
        <p>つい何かに夢中になってしまったり、思っていたよりも時間が経っていることがよくある方はタイマーを使うことを試してみましょう。
            タイマーはキッチンタイマーのようにお店で売っているものもあれば、ほとんどのスマホにもアプリが入っていると思います。あらかじめ知らせる時間を決めておけるタイマーは遅刻対策に非常に有効です。
            タイマーが鳴ることで今やっていることを一度止めて時間を確認したり、出発のきっかけにしたりすることができます。</p>
        <h4>初めての場所や新しいことをするときには時間に余裕をもって出発する</h4>
        <p>初めての場所に行くときは予想外のことが起こりやすいものです。
            目的地までのルートを事前に調べるのはもちろんですが、それだけでは防ぎきれないアクシデントもあります。
            想定外の出来事を考慮し、何かが起こることを前提に早めに出発するよう心がけましょう。</p>
        <h4>早く到着したときにやることを持っておく</h4>
        <p>「今出てもちょっと早く着いてしまうな」と思って油断していると、遅刻することがあります。
            多くの予定において早く到着してしまうことで悪いことはありません。余裕をもってなるべく早く出発することはとても大切なことです。
            早く着いてしまったときにやることがあると、自然と早めの行動ができるようになります。「早く着いたら近くのお店を見てみよう」「早く着いたときのために本を持っていっておこう」等、
            早く到着したときの時間つぶしの方法を持っておくと早く出発しやすくなります。</p>
            
        <h3>まとめ</h3>
        <p>ここでは“遅刻”の対策についてご紹介しました。
            遅刻は多くの方にとって経験のあるものです。また遅刻は年齢に関係なく起こります。
            早めに自分なりの対策を見つけておくことで遅刻の少ない生活を送れるようにしていきましょう。</p>
    
    </article>
    {% endblock %}
</body>

{% block footer %}
    <a href="{{url_for('top')}}">Top画面</a>
    <a href="{{url_for('purpose')}}">このサイトについて</a>
{% endblock %}