{% extends "base.html" %}

<head>
    {% block title%}大人の苦手対策教室{% endblock %}
</head>

{% block content %}
<body>
    <div class="header_img">
        <img src="{{url_for('static', filename='img/header_cat.png')}}" alt="ヘッダー画像">
    </div>
    <div class="test_block">
        <div class="test">
            <img src="{{url_for('static', filename='img/park_girl.png')}}" alt="画像が表示されません">
            <div class="ttl">苦手・悩み克服診断【ひとり活動編】</div>
            <div class="explain">ものわすれ、遅刻など、生活の中でのあなたの苦手や悩みを簡単に診断します。</div>
            <a href="{{url_for('quiz_a.quiz')}}">診断画面へ</a>
        </div>
        <div class="test">
            <img src="{{url_for('static', filename='img/with_kiwi.png')}}" alt="画像が表示されません">
            <div class="ttl">苦手・悩み克服診断【コミュニケーション編】</div>
            <div class="explain">人との関わりや集団の中での生活における苦手や悩みを簡単に診断します。</div>
            <a href="{{url_for('quiz_b.quiz')}}">診断画面へ</a>
        </div>
    </div>
    <div class="new-releases">
        <section id="topNewRelease">
            <img src="{{url_for('static', filename='img/topNewReleases.png')}}" alt="画像が表示されません">
        </section>
        {% for release in new_releases %}
        <div class="release-item">
            <h2>{{ release.title }}</h2>
            <p class="date">{{ release.date }}</p>
            <p class="description">{{ release.description }}</p>
        </div>
        {% endfor %}
    </div>
   
</body>
{% endblock %}

{% block footer %}
    <a href="{{url_for('purpose')}}">本サイトについて</a>
    <a href="{{url_for('login_page')}}">管理者用ページ</a>
{% endblock %}